.header {
    background-color: black;
    margin-bottom: 60px;
}

.header__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__logo {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}

.form__content {
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    width: 80%;
}

.form__heading {
    margin-bottom: 30px;
}
.form__group-title .form__label--item {
    text-align: left;
    display: block;
    margin-top: 15px;
}

.form__group-content input {
    width: 100%;
    height: 35px;
}

.form__button {
    margin-top: 60px;
    margin-bottom: 20px;
}

.form__button-submit {
    display: block;
    text-align: center;
    background-color: #f65556;
    width: 100%;
    border: none;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
}

.button {
    color: #80b9e5;
    text-decoration: none;
}

.form__error {
    /* height: 20px; */
    font-size: 14px;
    color: #ff0000;
    text-align: left;
}