.profile__flex{
    display: block;
    text-align: left;
    margin-bottom:40px;
}
.profile__flex img{
    background-color: #d9d9d9;
    width: 100px ;
    height: 100px;
    border-radius: 50%;
}
.profile__flex a{
    text-decoration: none;
    color: red;
    border: 1px solid red;
    border-radius: 8px;
    padding: 7px 10px;
    margin-left: 30px;
}
.header__nav ul{
    display: flex;
    align-items: center;

}
.logout__button, .mypage__button{
    margin-right: 12px;
}
.sell__button{
    background-color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
}
.header__nav ul .sell__button a {
    color: black;
}
.header__nav ul li a{
    color: white;
    text-decoration: none;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input__txt{
    width: 30%;
    padding: 5px 15px;
}