.verify-notice{
    margin: 0 auto;
    max-width: 1000px;
    width: 80%;
    text-align: center;
    margin-top: 140px;
}

.verify-notice h2{
    font-size: 20px;
}

.btn-resend{
    background-color: #fff;
    border: none;
    color: #80b9e5;
    cursor: pointer;
}

.verify-button{
    margin: 15px 0 30px 0;
    padding: 5px 7px;
    cursor: pointer;
}